
.formDatoEstilo{
    
    color: $blanco;
    outline: none;
    border: none;
    background-color: #0000005e;
    padding: 5px;  
}

// ancho de la pagina donde esta el contenido
.contenedorPDetalles {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

// atributos del texto en la presentacion del pj

.parrafoDetalles{
    text-align: justify;
    line-height: 1.6;
    text-indent: 20px;
}

// titulo de la seccion con separador

.tituloH3Seccion{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid $negro;
}


// contenedor de texto :D

.containerDescripcionTexto{
    width: 60%;
    text-align: center;
    padding: 10px;
    margin: 20px;
}


// titulo del nombre de la habilidad,constelacion,pasiva

.tituloH4Descripcion{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}


// display de contenedor de habilidad,pasiva,constelacion

.containerHabConsPas{

    @include flexible(flex,row,nowrap,space-evenly,center);    
}

// scroll interno de la tabla

.scrollTablas{

    overflow-x: auto;
}

// Proporciones de la tabla

.table{

    width: 50%;
    border-collapse: collapse;
    margin: 30px auto;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.cabezeraTable{
    background-color: $TablaCabezera ;
    font-size: 20px;
}

.contenidoTableBloque{

    font-weight: bold;
    padding: 12px 15px;
    border: 2px solid black;
}

.fondoColorTableCuerpo{
    background-color: $fondoTabla;
}


.card{

    background-color: $blanco;
    position: relative;
    border-radius: 20px;
    border: 2px solid $negro;
    overflow: hidden;
    transition: all .4s;

    &:hover{
        transform: scale(1.1);
        box-shadow: 2px 2px 2px 0 rgb(102, 102, 102);
    }
}

.cardTexto{

    font-size: 12px;
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $negro;
}

.cardImg{

    width: 100%;
    height: 90%;
    border-bottom: 2px solid $negro;
}