

// MEDIA QUERY 

@media screen and (max-width:1024px){

    // INICIO

    .inicio{
        nav{
            .inicio__navBar{
                li{
                    margin: 10px;
                }
            }
        }
    }

    // PERSONAJES

    .cards{
        grid-template-columns: repeat(5, 1fr);
    }

    
    // PERSONAJE MAS DETALLE 

    .presentacionPersonaje{

        height: auto;

        &__info{
            &-img{
                height: 300px;
            }
        }
    }

    .habilidades{

        .habilidad{

            &__container{
                img{
                    width: 50px;
                }
            }
        }
    }
}

@media screen and (max-width:960px){

    /* HEADER */

    header{
        .navbar{
            .container-fluid{
                .navbar-collapse{
                    .nav-item{
                        margin: 0 13px;
                    }
                }

            }
        }   
    }
    /* INICIO */

    .inicio{
        nav{
            .inicio__navBar{

                li{
                    width: 150px;
                }

                a{
                    font-size: 20px;
                }
            }
        }
    }

    .contacto{

        &__imgPaimon{
            margin-bottom: 15px;
        }
    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(4, 1fr);
    }

    /* PERSONAJE MAS DETALLE */


    .presentacionPersonaje{

        &__titulo{

            font-size: 30px;
        }

        &__info{
            flex-direction: column;

            &-descripcion{

                width: 100%;
            }
        }
        
    }

    .habilidades{

        .habilidad{

            flex-direction: column;

            &__container{
                width: 90%;
            }

            &__descripcion{

                width: 90%;

                img{
                    width: 60px;
                }
            }

            &__inverso{
                order: 0;
            }
        }
    }
}

@media screen and (max-width:728px){


    .inicio{

        &__video{
            object-position: 40%;
        }

        h1{
            font-size: 45px;
        }

        nav{

            .inicio__navBar{

                li{
                    width: 130px;
                }

                a{
                    font-size: 18px;
                }
            }
        }
    }

    .redes{
        &__titulo{
            font-size: 50px;
        }
    }

    .contacto{

        &__imgPaimon{
            width: 250px;
        }

        &__formulario{
            width: 800px;

            &-titulo{
                font-size:50px;
                text-align: center;
            }
        }
    }

    /* FILTRO */

    .filtro{
        &__seccion{
            input{
                width: 80%;
            }
        }
    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

    /* PERSONAJE MAS DETALLE */


    .presentacionPersonaje{
    
        &__info{

            img{

                height: 300px; 
            }
        }
    }

    .habilidades{

        .habilidad{

            &__container{
                img{
                    right: 80%;
                }
            } 

            &__descripcion{
                width: 100%;
            }
        }
    }

    .pasivas{
        .pasiva{
            &__descripcion{
                width: 100%;
            }
        }
    }

    .constelaciones{
        .constelacion{
            &__descripcion{
                width: 100%;
            }
        }
    }

    // ARMAS MAS DETALLE

    .presentacionArma{
        
        &__img{
            order: 1;
        }
    }
}

@media screen and (max-width:450px){

    /* INICIO */

    .inicio{

        height: 130vh;

        &__video{
            object-position: 30%;
            height: 130vh;
        }
    }

    .redes{

        height: 80vh;

        &__navBar{

            li{
                margin: 20px;
            }
        }
    
        &__titulo{
            font-size: 40px;
        }

    }

    .contacto{

        &__imgPaimon{

            width: 200px;
            height: 200px;
        }

        &__formulario{
            &-titulo{

                font-size: 40px;
            }

            &-form{
    
                .form__dato{
                    flex-direction: column;
    
                    label,
                    input,
                    select,
                    option,
                    textarea{
                        font-size: 15px;
                        width: 100%;
                    }
                }
            }

        }
    }

    /* FILTRO */

    .filtro{
        &__seccion{
            input{
                width: 70%;
            }
        }
    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    /* PERSONAJE MAS DETALLE */

    .habilidades{

        .habilidad{

            flex-direction: column;

            &__container{
                img{
                    width: 40px;
                }
            } 
        }
    }

    .pasivas{

        .pasiva{

            flex-direction: column;
            
            &__img{

                width: 80px;
            }
        }
    }

    .constelaciones{

        .constelacion{

            flex-direction: column;
            
            &__img{

                width: 80px;
            }
        }
    }

    /* ARMA MAS DETALLE */

    .presentacionArma{

        &__descripcion{

            &-titulo{
                font-size: 35px;
            }

            &-containerEstadistica{

                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width:330px){

    footer{
        padding: 10px;
    }

    /* INICIO */

    .inicio{

        height: 200vh;

        &__video{
            object-position: 30%;
            height: 200vh;
        }
        h1{
            font-size: 40px;
        }

        nav{

            .inicio__navBar{

                flex-direction: column;

                li{
                    width: 130px;
                }

                a{
                    font-size: 18px;
                }
            }
        }
    }

    .redes{
        height: 100vh;
    }
    
    ol,ul{
        padding: 0;
    }
    
    /* FILTRO */

    .filtro{
        &__seccion{
            input{
                width: 60%;
            }
        }
    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    /* PERSONAJE MAS DETALLE */

    .contenido{

        h3{
            
            font-size: 30px;
        }
    }

    .habilidades{

        h3{
            font-size: 20px;
        }

        .habilidad{

            h4{
                font-size: 18px;
            }

            &__container{
                img{
                    width: 30px;
                }
            } 
        }
    }

    .pasivas{

        h3{
            font-size: 20px;
        }

        .pasiva{

            &__descripcion{
                h4{
                    font-size: 18px;
                }
            }
        }
    }

    .constelaciones{

        h3{
            font-size: 20px;
        }

        .constelacion{

            &__descripcion{
                h4{
                    font-size: 18px;
                }
            }
        }
    }
}