*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}


a{
    text-decoration: none;
    
}

li{
    list-style-type: none;
}

img{
    width: 100%;
    height: 100%;
}

textarea{
    resize: none;
}

.paginaBackground{
    background: url(../images/backgroundPaginaPersonajes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.paginaBackgroundTexto{
    background-color:#e0e0e0ab;
}



/* HEADER */

header{
    width: 100%;
    height: 14vh;
    padding: 0px 32px;
    background: linear-gradient( #a5a5a5,#ffffff );
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    z-index: 70;
    top: 0;
}

.header__logo{
    height: 100%;
}


header a{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.header__ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header__ul li{
    margin: 0 16px;
}

.header__navMobile{
    z-index: 70;
    display: none;
}

.header__navMobile i{
    font-size: 30px;
}

/* SECCION FOOTER */

footer{
    width: 100%;
    background-color: #000000;
    padding: 9px 0;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.footer__texto{
    color: #e0dddd;
    font-size: 14px;
}

/* SECCION INICIO */

.inicio{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.inicio__video{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.inicio__img{
    width: 400px;
}

.inicio nav{
    margin-top: 25px;
}

.inicio__navBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.inicio__navBar li{
    width: 170px;
    display: inline-block;
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: #99aab74b;
    text-align: center;
    font-weight: bold;
}

.inicio__navBar img{
    margin-top: 10px;
}

.inicio__navBar a{
    font-size: 25px;
    color: #ffffff;
}

/* SECCCION REDES */

.redes{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url(https://genshin.hoyoverse.com/_nuxt/img/5d86b58.jpg) no-repeat center/cover;
    

}
.redes__titulo{
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
}
.redes__navBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.redes__navBar li{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 40px;
    background-color: #868e9496; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes__navBar i{
    color: #ffffff;
    font-size: 35px;
}

/* contactos */

.contacto{
    width: 100%;
    background: url(https://genshin.hoyoverse.com/_nuxt/img/b57475e.jpg) no-repeat center/cover;
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.contacto__imgPaimon{
    width: 300px;
    height: 300px;
}
.contacto__formulario{
    background-color: #0000005e;
    padding: 20px;

}
.contacto__formulario-titulo{
    color: #ffffff;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 30px;

}

.form__dato{
    margin: 10px;
    display: flex;
}

.form__dato label{
    font-size: 22px;
}

.form__dato label, .form__dato input, .form__dato select{
    width: 50%;
}

.form__dato ::placeholder{
    color: #ffffff;
}

.form__dato label, .form__dato input, .form__dato select, .form__dato textarea, .form__dato button{
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #0000005e;
    padding: 5px;
}

.form__dato textarea, .form__dato button{
    font-size: 17px;
    width: 100%;
}

.form__dato button{
    height: 30px;
    cursor: pointer;
}

/* SECCION FILTRO */

.filtro{
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    display:flex;
    flex-flow: column nowrap;
}

.filtro h1{
    font-size: 30px;
    margin: 20px 0;
}

.filtro__seccion{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.filtro__seccion p{
    font-size: 18px;
    display: inline;
    margin: 10px;
}

.filtro__seccion-botonImg{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    padding: 3px;
    cursor: pointer;
}


.filtro__seccion-botonTextoImg{
    width: 55px;
    padding: 2px;
}

.filtro__seccion span{
    font-size: 20px;
    margin: 4px;
}

.filtro__seccion-botonTextoImg img{
    width: 50%;
    height: 70%;
}

.filtro__seccion ::placeholder { color: #000000; }

.filtro__seccion input{
    color: #000000;
    width: 300px;
    border: none;
    border: 3px solid black;
    background: transparent;
    outline: none;
    text-align: center;
    border-radius: 40px 0 0 40px;
    font-size: 16px;
}


.filtro__seccion-botonBuscar{
    margin: 0;
    border: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-radius: 0 40px 40px 0 ;
    cursor: pointer;
    background-color: #e0e0e000;
}

/* SECCION CARD */

.cards{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px 10px;
    padding: 10px 10px 30px 10px;
}

.cards__card,
.cardTable{
    background-color: #ffffff;
    position: relative;
    border-radius: 20px;
    border: 2px solid #000000;
    overflow: hidden;
}
.cards__card-img,
.cardTable__img{
    width: 100%;
    height: 90%;
    border-bottom: 2px solid #000000;
}

.cards__card-text,
.cardTable__texto{
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000000;
}

.cards__card-iconElemento{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 25px;
    height: 25px;
    z-index: 2;
}

/* SECCION PERSONAJE MAS DETALLE */

.presentacionPersonaje,.contenido,.pasivas,.habilidades,.constelaciones,.tablaContenido,.estadisticasArma,.materialesAscensionArma,.presentacionArma{
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.presentacionPersonaje{
    height: 100vh;
}

.presentacionPersonaje__titulo{
    font-size: 40px;
    margin-bottom: 40px;
    padding-top: 15px;
    text-align: center;
}

.presentacionPersonaje__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentacionPersonaje__info-img{
    height: 360px;
}

.presentacionPersonaje__info-descripcion{
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 20px;    
}

.presentacionPersonaje__info-descripcion h2{
    margin-bottom: 50px;
}


.presentacionPersonaje__info-descripcion p,.pasiva__descripcion p,.habilidad__descripcion p {
    text-align: justify;
    line-height: 1.6;
    text-indent: 20px;
}

/* SECCION CONTENIDO DETALLE PERSONAJE */

.contenido{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.contenido h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid black;
}

.contenido li, .habilidad__descripcion li{
    font-size: 18px; 
    padding: 10px;
    margin: 10px 0;
    list-style-type: disc;
    list-style-position: inside;

}

.contenido__container{
    border: 2px solid black;
}

.pasivas h3, .habilidades h3, .constelaciones h3, .estadisticasArma h3, .materialesAscensionArma h3{
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;

}

.pasiva , .habilidad,.constelacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pasiva__img,.constelacion__img{
    width: 100px;
}
.pasiva__descripcion,.habilidad__descripcion,.constelacion__descripcion{
    width: 60%;
    text-align: center;
    padding: 10px;
    margin: 20px;    
}

.pasiva__descripcion h4,.habilidad__descripcion h4,.constelacion__descripcion h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.habilidad__container{
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.habilidad__container img{
    width: 60px;
    height: auto;
    position: absolute;
    right: 85%;
    top: 5%;
}

.habilidad__container video{
    width: 100%;
}

.habilidad__descripcion{
    width: 50%;
}

.habilidad__descripcion p{
    line-height: 1.2;
}

.habilidad__descripcion h6{
    text-align: left;
    font-size: 17px;
    margin: 10px 0;
}

.habilidad__inverso{
    order: 2;
}

/* SECCION CONTENIDO DETALLE ARMA */

.presentacionArma{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.presentacionArma__img{
    height: 470px;
    margin-right: 30px;
}
.presentacionArma__descripcion{
    padding: 20px;
    text-align: center;
}
.presentacionArma__descripcion-titulo{
    font-size: 35px;
    margin-bottom: 10px;
}
.presentacionArma__descripcion-img{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.presentacionArma__descripcion-containerEstadistica{
    display: flex;
}
.presentacionArma__descripcion-estadistica{
    margin: 0 8px;
}

.presentacionArma__descripcion-estadistica h3{
    margin-bottom: 8px;
}

.estadisticasArma__table,
.materialesAscensionArma__table{
    width: 50%;
    border-collapse: collapse;
    margin: 30px auto;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.estadisticasArma__table thead tr,
.materialesAscensionArma__table thead tr{
    background-color: #b0e1f5e3 ;
    font-size: 20px;
}

.estadisticasArma__table th,
.estadisticasArma__table td,
.materialesAscensionArma__table th,
.materialesAscensionArma__table td{
    padding: 12px 15px;
    border: 2px solid black;
}

.estadisticasArma__table tbody tr,
.estadisticasArma__table tfoot tr,
.materialesAscensionArma__table tbody tr,
.materialesAscensionArma__table tfoot tr{
    background-color: #c8dcfc ;
}

.cardTable__img{
    border-bottom: 2px solid black;
}

.materialesAscensionArma__table{
   width: 80%;
}

.materialesAscensionArma__table .cardTable{
    width: 80px;
    height: auto;
}

.cardTable__texto{
    border: none;
    background-color:#c8dcfc;
}

.cards__card1Star{
    background: url(../images/Fondo_de_rareza_Normal.png) no-repeat center/cover;
}

.cards__card2Star{
    background: url(../images/Fondo_de_rareza_Verde.png) no-repeat center/cover;
}

.cards__card3Star{
    background: url(../images/Fondo_de_rareza_Azul.png) no-repeat center/cover;
}

.cards__card4Star{
    background: url(../images/Fondo_de_rareza_Violeta.png) no-repeat center/cover;
}

.cards__card5Star{
    background: url(../images/Fondo_de_rareza_Legendario.png) no-repeat center/cover;
}


/* MEDIA QUERY */

@media screen and (max-width:1024px){

    /* INICIO */

    .inicio__navBar li{
        margin: 10px;
    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(5, 1fr);
    }

    
    /* PERSONAJE MAS DETALLE */

    .presentacionPersonaje__info-img{
        height: 300px;
    }
    
    .presentacionPersonaje{
        height: auto;
    }
    .habilidad__container img{
        width: 50px;
    }


}
@media screen and (max-width:960px){

    .header__navDesktop{
        display: none;
    }

    .header__navMobile{
        display: initial;
    }

    /* INICIO */

    .inicio,
    .inicio__video{
        height: 130vh;
    }

    .inicio__img{
        width: 350px;
    }

    .contacto__imgPaimon{
        margin-bottom: 15px;
    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(4, 1fr);
    }

    .header__ul li{
        margin: 0 8px;
    }

    /* PERSONAJE MAS DETALLE */

    .presentacionPersonaje__titulo{
        font-size: 30px;
        
    }
    
    .presentacionPersonaje__info{
        flex-direction: column;
    }
    
    .presentacionPersonaje__info-descripcion{
        width: 100%;
        
    }
    
    .habilidad{
        flex-direction: column;
    }

    .habilidad__container,
    .habilidad__descripcion{
        width: 90%;
    }

    .habilidad__container img{
        width: 60px;
    }
    
    .habilidad__inverso{
        order: 0;
    }
    
    

    

}
@media screen and (max-width:728px){

    /* INICIO */

    .inicio,
    .inicio__video{
        height: 100vh;
    }

    .inicio__img{
        width: 300px;
    }

    .inicio__video{
        object-position: 40%;
    }

    .inicio__navBar li{
        width: 130px;
    }

    .inicio__navBar a{
        font-size: 18px;
    }


    .redes__titulo{
        font-size: 50px;
    }

    .contacto__imgPaimon{
        width: 250px;
    }

    .contacto__formulario{
        width: 800px;
    }

    .contacto__formulario-titulo{
        font-size:50px;
        text-align: center;

    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

    /* PERSONAJE MAS DETALLE */

    .presentacionPersonaje__info-img{
        height: 300px;
    }

    .habilidad__container img{
        width: 50px;
        right: 80%;
    }

    .pasiva__descripcion,.habilidad__descripcion,.constelacion__descripcion{
        width: 100%; 
    }


}
@media screen and (max-width:450px){

    /* INICIO */

    .inicio__video{
        object-position: 30%;
    }

    .inicio,
    .inicio__video{
        height: 140vh;
    }

    .redes{
        height: 80vh;
    }

    .redes__navBar li{
        margin: 20px;
    }

    .redes__titulo{
        font-size: 40px;
    }


    .contacto__imgPaimon{
        width: 200px;
        height: 200px;
    }

    .contacto__formulario-titulo{
        font-size: 40px;
    }

    .form__dato{
        flex-direction: column;
    }

    .form__dato label, .form__dato input, .form__dato select{
        width: 100%;
    } 

   
    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    /* PERSONAJE MAS DETALLE */

    .presentacionPersonaje__info-img{
        height: 250px;
    }

    .habilidad__container img{
        width: 40px;
    }

    .pasiva__img,.constelacion__img{
        width: 80px;
    }

    .pasiva , .habilidad,.constelacion{
        flex-direction: column;
    }

}
@media screen and (max-width:330px){


     footer{
        padding: 10px;
    }


    /* INICIO */

    .inicio,
    .inicio__video{
        height: 200vh;
    }

    .inicio__img{
        width: 200px;
    }

    .inicio__navBar{
        flex-direction: column;
    }

    .redes{
        height: 100vh;
    }
    
    ol,ul{
        padding: 0;
    }

    .contacto__formulario-titulo{
        font-size: 30px;
    }

    .form__dato label,
    .form__dato input,
    .form__dato select,
    .form__dato option,
    .form__dato textarea{
        font-size: 15px;
    }

    /* PERSONAJES */

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    /* PERSONAJE MAS DETALLE */

    .presentacionPersonaje__info-img{
        height: 200px;
    }


    .habilidad__container img{
        width: 30px;
    }

}